@import '../../css-design-tokens/component/input.css';

.watson-input {
  display: block;

  padding-block-start: var(--watson-input-p-s);
  padding-block-end: var(--watson-input-p-s);
  padding-inline-start: calc(var(--watson-input-p-s) * 1.5);
  padding-inline-end: calc(var(--watson-input-p-s) * 1.5);

  &-label {
    display: flex;
    justify-content: flex-start;
    padding-bottom: var(--watson-input-p-s);
  }
}
