@import '../../styles/spacing.scss';

.watson-input {
  display: block;

  padding-block-start: $spacing-small;
  padding-block-end: $spacing-small;
  padding-inline-start: calc($spacing-small * 1.5);
  padding-inline-end: calc($spacing-small * 1.5);

  &-label {
    display: flex;
    justify-content: flex-start;
    padding-bottom: $spacing-small;
  }
}
