@import '../../styles/colors.scss';
@import '../../styles/spacing.scss';

$btn-background-primary: $color-primary;
$btn-text-color-primary: white;

$btn-background-secondary: $color-secondary;
$btn-text-color-secondary: black;

.watson-btn {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: rem(32px);
  border: 0;
  width: max-content;
  border-radius: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;

  &-primary {
    background-color: $btn-background-primary;
    color: $btn-text-color-primary;
  }

  &-secondary {
    background-color: $btn-background-secondary;
    color: $btn-text-color-secondary;
  }

  &-small {
    padding: $spacing-x-small $spacing-small;
  }

  &-medium {
    padding: $spacing-small $spacing-medium;
  }

  &-large {
    padding: $spacing-small $spacing-large;
  }
}
