@import "../../styles/colors.scss";
@import "../../styles/spacing.scss";

.watson-btn {
  cursor: pointer;
  padding: $spacing-small $spacing-medium;

  &-primary {
    background-color: $color-primary;
  }

  &-secondary {
    background-color: $color-secondary;
  }

  &-small {
    padding: $spacing-small;
  }

  &-medium {
    padding: $spacing-medium;
  }

  &-large {
    padding: $spacing-large;
  }
}
