$color-primary: #81899b;
$color-accent: #302e24;
$color-warn: #dfa612;
$color-example: #abbcaa;

:root {
  --color-primary: $color-primary;
  --color-accent: $color-accent;
  --color-warn: $color-warn;
}
